{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"],
          "node": "6.10"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/transform-runtime"]
    }
  }
}
